section {
  background-color: white;
  color: black;
  padding: 50px;
}
h1,
h2,
h3 {
  color: #2e3192;
}
a {
  color: #2e3192;
}

p {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
a:hover {
  color: #2e3192;
  background-color: white;
}
#logo {
  height: 50px;
  margin-left: 10px;
}
/* Download Button */
.download a {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2e3192;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.download a:hover {
  background-color: #9f8c76;
}
.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.Contact img {
  width: 150px;
}
.Contact h1 {
  font-weight: 800;
  margin: 20px 0 10px;
  text-align: center;
}
.Contact h2 {
  font-weight: 600;
  margin: 0 0 30px;
  text-align: center;
}
.Contact form {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.Contact form label {
  font-size: 20px;
  margin: 10px 0;
}
.Contact form input[type="text"],
.Contact form input[type="email"],
.Contact form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.Contact form button[type="submit"] {
  padding: 15px 60px;
  font-size: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #009444;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Contact form button[type="submit"]:hover {
  background-color: #009444;
}
#message {
  height: 200px;
  /* Set the height of the textarea */
  resize: vertical;
  /* Allow vertical resizing */
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f7f7f7;
}
/* Header Styles */
header {
  background-color: #2e3192;
  color: #fff;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
nav {
  background-color: #f5f5dc;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
nav li {
  float: left;
}
nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #f5f5dc;
}
nav a:hover {
  background-color: #f5f5dc;
}
nav img {
  height: 20px;
  margin-right: 5px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
nav ul li {
  margin: 0;
  padding: 0;
}
nav ul li a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
nav ul li a:hover {
  background-color: #9f8c76;
}
nav ul li img {
  height: 40px;
  padding: 10px;
}
#logo {
  height: 40px;
  padding: 10px;
  float: right;
}
/* Main Content Styles */
main {
  margin-top: 60px;
  padding: 50px;
  text-align: center;
}
h1,
h2 {
  margin-top: 0;
}
p {
  margin-bottom: 30px;
  line-height: 1.5;
}
#home {
  background-color: #fff;
  padding: 50px 0;
}
#portfolio {
  background-color: #fff;
  padding: 50px 0;
}
#portfolio a {
  color: #009444;
}
#resume {
  background-color: #f0f0f0;
  padding: 50px;
}
#resume h2 {
  margin-bottom: 20px;
}
#resume img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
#resume .download {
  text-align: center;
  margin-top: 20px;
}
#resume .download a {
  padding: 15px 60px;
  font-size: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #009444;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#resume .download a:hover {
  background-color: #3e8e41;
}
main {
  min-height: 100vh;
}
/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: 30px;
}
.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #f0f0f0;
}
.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-picture img {
  width: 100%;
  height: auto;
}
.about-me-content {
  text-align: center;
  max-width: 800px;
}
.about-me-content h1 {
  margin-bottom: 20px;
}
.about-me-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.Social img {
  width: 30px;
}
.Social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  list-style: none;
}
.Social li {
  margin: 0 1rem;
}
.Social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #9F8C76;
  /* add border property */
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.Social a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.Social i {
  font-size: 1.5rem;
  color: #333;
}
body {
  font-family: "Merriweather Light", serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Black", serif;
  font-weight: 900;
}
#logo {
  font-family: "Source Sans Pro Light", sans-serif;
  font-weight: 300;
}
nav ul li:nth-child(6) img {
  font-family: "Merriweather Bold", serif;
  font-weight: 700;
}
button[type="submit"],
.download a {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border: none;
}
button[type="submit"]:hover,
.download a:hover {
  background-color: #3e8e41;
}
.project {
  display: inline-block;
  margin: 10px;
  width: 500px; /* Set the width of each project container */
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.project img {
  display: block;
  width: 250px;
  /* Set the width of each project container */
  
  /* Set the height of each project container */
  margin: 0 auto;
  /* Center the image horizontally */
  border: 2px solid #9F8C76;
}
#home {
  margin-bottom: 0px;
  padding-bottom: 10px;
}
#portfolio {
  margin-top: 0px;
  padding-top: 10px;
}
.Contact {
  background-color: #f5f5f5;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Contact h1,
.Contact h2 {
  margin: 0;
}
.Contact img {
  width: 150px;
  height: 150px;
}
.Contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 80%;
}
.Contact label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Contact input,
.Contact textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  width: 100%;
}
.Contact textarea {
  height: 200px;
}
.Contact button {
  padding: 10px 20px;
  background-color: #2e3192;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.Contact button:hover {
  background-color: #2e3192;
}
.Contact ul {
  display: flex;
  margin-top: 30px;
  padding: 0;
}
.Contact ul li {
  list-style: none;
  margin-right: 20px;
}
.Contact ul li:last-child {
  margin-right: 0;
}
.Contact ul li a img {
  width: 40px;
  height: 40px;
}

.Contact {
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .Contact {
    padding: 40px 0;
  }
  .Contact img {
    width: 100px;
    height: 100px;
  }
  .Contact form {
    width: 100%;
  }
}

#homeAbout {
  background-color: #f2f2f2;
  padding: 50px;
}

#homeAbout h2 {
  text-align: center;
  margin-bottom: 30px;
}

.education,
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.education {
  margin-bottom: 50px;
}

.education h3,
.skills h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.education ul li,
.skills ul li {
  margin-bottom: 20px;
  font-size: 18px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
}

.skill-box h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.skill-box p {
  font-size: 16px;
  line-height: 1.5;
}

.college-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.college-box {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: all 0.3s ease;
}

.college-box h4 {
  margin-bottom: 10px;
  font-size: 24px;
}

.college-box p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-animation {
  animation: spin 1s linear; /* Adjust the duration and easing as needed */
}
